.table{
  width:100%;
  max-width:100%;
  border-spacing:0;
  border-collapse:collapse;
}
.table>thead:first-child>tr:first-child>th{
  border-top:0;
}
.table>thead>tr>th{
  vertical-align:bottom;
  border-bottom:2px solid #ddd;
  font-size:18px;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color:#f9f9f9;
}
.table>tbody>tr>th,
.table>tbody>tr>td{
  padding:8px;
  line-height:1.42;
  vertical-align:top;
  border-top:1px solid #ddd;
  width:50%;
}


.button-primary{
  background-color:transparent;
  border:1px solid #333;
  border-radius:10px;
  padding:3px 20px;
  color:#000;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.button-primary:hover{
  background-color:#ddd;
}
.btn-worksheet{
  color:#000;
}
.btn-worksheet.validated-worksheet{
  /*background-color:green;*/
  color:green;
}
.btn-worksheet.draft-worksheet{
  /*background-color:red;*/
  color:red;
}
.btn-worksheet:hover{
  color:#ddd;
}


.required{
  color:#f00;
  font-weight:bold;
}

.worksheet-nav .nav-tabs{
  list-style:none;
  margin-top:25px;
}
.worksheet-nav .nav-tabs>li{
  display:inline-block;
  margin:5px;
}
.worksheet-nav .nav-tabs>li>a{
  border:1px solid #000;
  border-radius:8px;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
  padding:2px 15px;
  color:#000;
}
.worksheet-nav .nav-tabs .not-finished{
  background-color:#f77;
}
.worksheet-nav .nav-tabs .finished{
  background-color:#009f00;
}